# Supabase / PostgreSQL
# Use a URL de Pooling do Supabase (porta 6543) para DATABASE_URL
DATABASE_URL="postgresql://USER:PASSWORD@db.xxxx.supabase.co:6543/postgres?pgbouncer=true"

# Next.js
NODE_ENV=development
PORT=3000
